html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;

  /*
     * CSS image reference example.
     */
}


.container {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 617px;
  }
  @media (min-width: 1024px) {
    max-width: 882px;
  }
}

$main-color: #FF6B01;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 2px;
}
