{{!-- our tem --}}

{{#each this}}
<div class="team__container">
<ul class="team__list"></ul>
  <li class="team__item">
    <img class="team__img" src="{{img}}" alt="human">
    <p class="team__name">{{name}}</p>
  </li>
  </ul>
</div>
{{/each}}

