{{!-- our tem --}}
{{#each this}}
<p class="title">Our Front-End Team: 41</p>
<p class="title__sec">Filmoteka Project</p>

<ul class="team__list">
  <li class="team__item">
    <img class="team__img" src="{{img}}" alt="human">
    <p class="name">{{name}}</p>
  </li>
</ul>
<p class="teacher">Александра Хревцова</p>
{{/each}}